<h1>Dice Roll</h1>
<ul>
  <li><%= link_to 'Roll two 6-sided dice', roll_path(2, 6) %></li>
  <li><%= link_to 'Roll two 10-sided dice', roll_path(2, 10) %></li>
  <li><%= link_to 'Roll one 20-sided die', roll_path(1, 20) %></li>
  <li><%= link_to 'Roll five 4-sided dice', roll_path(5, 4) %></li>
</ul>
